@font-face {
    font-family: voda;
    src: url(https://a.storyblok.com/f/112136/x/3d82323902/vodafone-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif !important;
}

html{
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h2 {
    display: none;
    font-size: 4.9rem;
    font-weight: bold;
    font-family: 'Pattaya', sans-serif;
    color: wheat;
    margin-top: -2em;
    text-shadow: black 0px 4px 4px;
}

.coming-soon {
    min-height: 100vh;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}

.countdown {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.days,
.hours,
.minutes,
.seconds {
    display: flex;
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    color: #ffffff;
    font-family: 'Pattaya', sans-serif;
    background-color: rgb(100, 0, 0);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: black 0px 6px 5px;
}

.subtext {
    margin-top: 2rem;
    color: hsl(0, 0%, 0%);
}

@media (max-width: 550px) {
    h2 {
        font-size: 2.4em;
    }
    .countdown{
        gap:5px;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1.8em;
        height: 5rem;
        width: 5rem;
    }
    .coming-soon{
        margin-right: 1em;
        margin-left: 1em;
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 2em;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1.5em;
        height: 3.8rem;
        width: 3.8rem;
    }

    .subtext {
        font-size: 0.8em;
    }

    .coming-soon{
        margin-right: 1em;
        margin-left: 1em;
    }
}
